.footer__link {
    text-decoration: none;
    list-style-type: none;
    color: #FFFFFF;
    font-size: 16px;
    line-height: 18px;
    margin: 0 18px 0 0;
}

@media screen and (max-width: 767px) {
    .footer__link {
        margin: 0 0 32px;
        font-size: 24px;
        line-height: 24px;
    }

    .footer__link:last-of-type {
        margin: 0 0 48px;
    }
}