.footer__link-container {
    margin-right: 18px;
}



@media screen and (max-width: 767px) {
    .footer__link-container {
        margin: 0 0 32px;
    }

    .footer__link-container:last-of-type {
        margin-bottom: 48px;
    }
}