.lead__title {
    font-size: 96px;
    font-weight: 900;
    color: #FFFFFF;
    line-height: 100px;
    text-align: center;
    margin: 0 132px 32px;
}

@media screen and (max-width: 767px) {
    .lead__title {
        font-size: 40px;
        line-height: 44px;
        margin: 0 104px 32px;
    }
}