.place__paragraph {
    font-size: 18px;
    line-height: 29px;
    font-weight: normal;
    margin: 0 0 26px;  
}

.place__paragraph:last-of-type {
    margin: 0;  
}

@media screen and (max-width: 767px) {
    .place__paragraph {
        font-size: 16px;
        line-height: 26px;
        margin: 0 16px 26px;
    }

    .place__paragraph:last-of-type {
        margin: 0 16px;  
    }
}