.lead__subtitle {
    color: #FFFFFF;
    font-size: 30px;
    line-height: 36px;
    font-weight: 400;
    text-align: center;
    margin: 0 172px 64px;
}

@media screen and (max-width: 1279px) {
    .lead__subtitle {
        margin: 0 192px 56px;
    }
}

@media screen and (max-width: 1023px) {
    .lead__subtitle {
        margin: 0 64px 56px;
    }
}

@media screen and (max-width: 767px) {
    .lead__subtitle {
        font-size: 16px;
        line-height: 20px;
        margin: 0 16px 40px;
    }
}