@import url(../vendor/normalize.css);
@import url(../vendor/fonts.css);
@import url(../blocks/root/root.css);
@import url(../blocks/animated-link/animated-link.css);

/*Импорт для блока header*/
@import url(../blocks/header/header.css);
@import url(../blocks/header/__lang-links/header__lang-links.css);
@import url(../blocks/header/__logo/header__logo.css);
@import url(../blocks/header/__lang-link/header__lang-link.css);
@import url(../blocks/header/__lang-links/header__lang-links.css);
@import url(../blocks/header/__lang-link/_disabled/header__lang-link_disabled.css);

/*Импорт для блока lead*/
@import url(../blocks/lead/lead.css);
@import url(../blocks/lead/__caption/lead__caption.css);
@import url(../blocks/lead/__image/lead__image.css);
@import url(../blocks/lead/__subtitle/lead__subtitle.css);
@import url(../blocks/lead/__title/lead__title.css);

/*Импорт для блока intro*/
@import url(../blocks/intro/intro.css);
@import url(../blocks/intro/__list/intro__list.css);
@import url(../blocks/intro/__span-accent/intro__span-accent.css);
@import url(../blocks/intro/__text/intro__text.css);
@import url(../blocks/intro/__title/intro__title.css);

/*Импорт для блока photo-grid*/
@import url(../blocks/photo-grid/photo-grid.css);
@import url(../blocks/photo-grid/__image/photo-grid__image.css);

/*Импорт для блока place*/
@import url(../blocks/places/places.css);
@import url(../blocks/place/place.css);
@import url(../blocks/place/__image/place__image.css);
@import url(../blocks/place/__link/place__link.css);
@import url(../blocks/place/__paragraph/place__paragraph.css);
@import url(../blocks/place/__title/place__title.css);
@import url(../blocks/place/__url-heading/place__url-heading.css);
@import url(../blocks/place/__website/place__website.css);

/*Импорт для блока cover*/
@import url(../blocks/cover/cover.css);
@import url(../blocks/cover/__link/cover__link.css);
@import url(../blocks/cover/__overlay/cover__overlay.css);
@import url(../blocks/cover/__subtitle/cover__subtitle.css);
@import url(../blocks/cover/__title/cover__title.css);
@import url(../blocks/cover/__animated-link/cover__animated-link.css);

/*Импорт для блока footer*/
@import url(../blocks/footer/footer.css);
@import url(../blocks/footer/__copyright/footer__copyright.css);
@import url(../blocks/footer/__link/footer__link.css);
@import url(../blocks/footer/__column-links/footer__column-links.css);


