.place {
    margin: 0 auto 80px;
    width: 100%;
    display: grid;
    gap: 48px 40px;
    grid-template-columns: 1fr auto;
    grid-template-rows: auto 1fr;
}

.place:last-of-type {
    margin-bottom: 0;
}

@media screen and (max-width: 1024px) {
    .place {
        gap: 48px 32px;
    }
}

@media screen and (max-width: 767px) {
    .place {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(4, auto);
        gap: 32px;
        margin: 0 auto 50px;
    }
}