.header__lang-links {
    display: flex;
    width: calc(30px + 29px + 18px);
    justify-content: space-between;
}

@media screen and (max-width: 320px) {
    .header__lang-links {
        width: calc(22px + 22px + 18px);
    } 
}